<head>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Detail Page</title>
  </head>
  <body>
    
  </body>
  </html>
</head>

<html>
  <div class="container" *ngFor="let carDetail of carDetails">
    <div
      id="carouselExampleIndicators"
      class="carousel"
      data-bs-ride="carousel"
    >
        <button class="btn btn-outline-success btn-lg"
          target="_blank"
          type="button"
        >
          LET'S RENT!
          <h5 class="card-text">
            Günlük Fiyatı | {{ carDetail.dailyPrice | currency: "₺" }}
          </h5>
        </button>


      <div class="card">
        <ul>
          <b> CarId {{ carDetail.carId }} Details</b>
          <li>
            <strong class="list-item-name">Car Name</strong>
            &nbsp;
            <span class="list-item-value">{{ carDetail.carName }}</span>
          </li>
          <li>
            <strong class="list-item-name">Car Name</strong>
            &nbsp;
            <span class="list-item-value">{{ carDetail.carName }}</span>
          </li>
          <li>
            <strong class="list-item-name">Car Name</strong>
            &nbsp;
            <span class="list-item-value">{{ carDetail.carName }}</span>
          </li>
          <li>
            <strong class="list-item-name">Car Name</strong>
            &nbsp;
            <span class="list-item-value">{{ carDetail.carName }}</span>
          </li>
        </ul>
      </div>
  </div>
</div>
</html>
